helm
client/node_modules
client/package-lock.json
client/.next
client/yarn.lock

auth/node_modules
auth/package-lock.json
auth/yarn.lock

common/node_modules
common/package-lock.json
common/build
common/yarn.lock

order/node_modules
order/package-lock.json
order/build
order/yarn.lock

nats-test/node_modules
nats-test/package-lock.json
nats-test/build
nats-test/yarn.lock

ticket/node_modules
ticket/package-lock.json
ticket/build
ticket/yarn.lock

kubernates
ingress-nginx
ingress-nginx
GET
User-Agent:
Host:
Accept:
.DS_Store
